* {
    /* transition: all 0.5s; */
    margin: 0;
}

body {
    color: white;
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
li {
    /* list-style-type: none; */
}
a {
    text-decoration: none;
}
.text-input {
    padding: 8px 0;
    border-width: 0 0 2px 0;
    border-color: rgba(0, 0, 0, 0.7);
}
.checkbox {
    height: 18px;
    width: 18px;
}

.block-title {
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-weight: normal;
}
.btn {
    cursor: pointer;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
}
.header a {
    color: white;
}
.header {
    height: 83px;
    font-size: 11px;
    color: white;
    background-color: black;
}
.header-content {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width : 1300px) {
    .container {
        width: 339px;
    }
    .header {
        height: 56px;
    }
    .header-content_navigation {
        display: none;
    }
    .header-content_button {
        display: none;
    }
}
.container{
    margin: 0 auto;
    max-width: 1260px;
}
.header-content_logo {
}
.header-content_logo-link span {
    color: #E3B873;
}
.header-content_navigation {
   min-width: 580px;
}
.header-content_navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


.header-content_navigation-list-item a:hover {
    color:#E3B873;
}
.header-content_contacts-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #E3B873;

}
.header-content_button {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    width: 160px;
    height: 35px;
    background: #E3B873;
}


.turnkey {
    position: relative;
    color: white;
    height: 710px;
    background-image: url('./assets/turkey_BG.jpg');
}
.turnkey::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.7) ;
    z-index: 2;
}
.turnkey-content {
    position: relative;
    z-index: 3;
    padding-left: 44px;
    padding-top: 195px;
}
.turnkey-content_title {
    font-size: 40px;
    text-transform: uppercase;
}
.turnkey-content_title span {
    color: #E3B873;
}
.turnkey-content_subtitle {
    margin-top: 20px;
    font-size: 22px;
}
.turnkey-content_buttons {
    margin-top: 38px;
}
.turnkey-content_button-item {
    font-size: 11px;
    font-style: italic;
    width: 207px;
    height: 51px;
}
.turnkey-content_button-item:first-child {
    margin-right: 20px;
    background-color: #E3B873;
}
.turnkey-content_button-item:last-child {
    border: 1px solid #FFFFFF;
    background: none;
}
.turnkey-content_button-item:last-child::before {
    content: 'SUBMIT YOUR APPLICATION';
}

@media screen and (max-width : 1300px) {
    .block-title {
        font-size: 23px;
    }
    .turnkey {
        background-position: center;
        height: 476px;
    }
    .turnkey-content_subtitle {
        margin-top: 16px;
        font-size: 14px;
    }
    .turnkey-content {
        padding-left: 0px;
        padding-top: 85px;
    }
    .turnkey-content_button-item {
        width: 339px;
        height: 51px;
    }
    .turnkey-content_buttons {
        flex-direction: column;
        margin-top: 38px;
        display: flex;
        margin-bottom: 61px;
    }
    .turnkey-content_button-item:first-child {
        margin-right: 0px;
        margin-bottom: 26px;
    }
    .turnkey-content_button-item:last-child::before {
        content: 'APPLICATION';
    }
}


.complete {
    height: 1074px;
    background-color: black;
}
.complete-content {
    position: relative;
}
.complete-content_navigation {
    width: 625px;
    position: absolute;
    top: 107px;
    right: 93px;
}
.complete-content_navigation-list {
    display: flex;
    justify-content: space-between;
}
.complete-content_navigation-list-item {
    cursor: pointer;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}
.complete-content_navigation-list-item:hover {
    color: #E3B873;
    text-decoration: underline;
}
.complete-content_main {
    display: flex;
    justify-content: space-between;
    padding-top: 177px;
}
.complete-content_main-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.complete-content_main-aside-title {
    /* margin-bottom: 34px; */
    text-transform: uppercase;
    font-size: 27px;
    color: #E3B873;
}
.complete-content_main-aside-subtitle {
    /* margin-bottom: 42px; */
    font-size: 14px;
    line-height: 27px;
    width: 440px;
}
.complete-content_main-aside-subtitle::before {
    content:'' ;
}
.complete-content_main-aside-discription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 34px;
    
}
.complete-content_main-aside-discription-item {
}
.complete-content_main-aside-discription-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #E3B873;
    margin-bottom: 10px;
}
.complete-content_main-aside-arrows {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.complete-content_main-aside-arrows_left {
    position: relative;
    background-color: white;
    width: 40.5px;
    height: 1.5px;
}
.complete-content_main-aside-arrows_left::before {
    color: white;
    content: url('./assets/svg/Vector\(Stroke\).svg');
    position: absolute;
    transform: translateY(-38%);
    top: 0;
    left: 0;
}
.complete-content_main-aside-arrows-dots {
    width: 65px;
    display: flex;
    justify-content: space-between;
}
.complete-content_main-aside-arrows-dots-item {
    width: 9.5px;
    height: 9.5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
.complete-content_main-aside-_mobile-img {
    display: none;
}
.complete-content_main-aside-arrows-dots-item:hover {
    cursor: pointer;
    background: white;
}
.complete-content_main-aside-arrows_rigth {
    position: relative;
    background-color: white;
    width: 40.5px;
    height: 1.5px;
}
.complete-content_main-aside-arrows_rigth::before {
    content: url('./assets/svg/Vector\(Stroke\).svg');
    color: white;
    position: absolute;
    transform: rotate(-180deg) translateY(60%);
    top: 0;
    right : 0;
}
.complete-content_main-image {
}
.complete-content_main-image-item {
}
.arrow__mobile {
    border: none;
    display: none;
    border-radius: 50%;
    background: #E3B873;
    width: 36px;
    height: 36px;
}

.mobile_arrow_left::before {
    content: url('./assets/svg/Vector\(Stroke\).svg');
    position: absolute;
    top: 30%;
    left: 35%;
}
.mobile_arrow_right::before {
    content: url('./assets/svg/Vector\(Stroke\).svg');
    position: absolute;
    transform: rotate(-180deg);
    top: 20%;
    right: 35%; 
}

.complete-content_main-aside-_mobile-img {
    display: none;
}

@media screen and (max-width : 1300px) {
    .complete {
        height: unset;
        position: relative;
    }
    .complete-content_navigation {
        display: none;
    }
    .complete-content_main-aside-arrows {
        display: none;
    }
    .complete-content_main {
        padding-bottom: 58px;
        padding-top: 36px;
        flex-direction: column;
    }
    .complete-content_main-image-item {
        width: 340px;
        height: 241.35px;
    }
    .complete-content_main-image{
        display: none;
    }
    .complete-content_main-aside-title {
        text-align: center;
        margin-bottom: 22px;
    }
    .complete-content_main-aside-subtitle {
        width: auto;
        text-align: center;
        margin-bottom: 36px;
    }
    .complete-content_main-aside-_mobile-img {
        display: block;
        margin-bottom: 37px;
    }
    .arrow__mobile {
        position: absolute;
        display: block;   
    }
    .mobile_arrow_left {
        top: 365px;
        left: 20px;
    }
    .mobile_arrow_right {
        top: 365px;
        right:20px;
    }
    


}
.control {
    margin-top: -298px;
}
.control-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
}
.control-content-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.control-content-video_title {
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

}
.control-content-video_logo {
    position: relative;
    background: url(./assets/svg/Camera.svg);
    width: 33px;
    height: 28px;
    margin-bottom: 31px;
}
.control-content-video_logo::before {
    content: '';
    background-color: #E3B873;
    width: 32px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: -150%;
    
}
.control-content-video_logo::after {
    content: '';
    background-color: #E3B873;
    width: 32px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 150%;
    
}
.control-content-video_item {
    margin-bottom: 62.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 817px;
    height: 434px;
    background: url(./assets/image\ 6.jpg);
}
.control-content-video_item-button {
    position: relative;
    cursor: pointer;
    align-self: center;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: #E3B873;
    position: relative;
    z-index: 100000;

}
.control-content-video_item-button::before {
    content: '';
    background: url(./assets/svg/Polygon.svg) no-repeat;
    position: absolute;
    top: 35%;
    left: 40%;
    width: 28px;
    height: 28px;
}
.control-content-video_item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.control-content-video_line {
    margin-bottom: 34.5px;
    background-color: #E3B873;
    width: 55px;
    height: 1.5px;
}
.control-content-video_discription {
    width: 681px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-bottom: 92px;
}
.control-content-form {
    width: 769px;
    display: flex;
    flex-direction: column;
}
.control-content-form_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.control-content-form_input p {
    color: #36363680;
    font-size: 13px;

}
.control-input {
    width: 231px;
    padding: 8px 0;
    border-width: 0 0 2px 0;
    border-color: rgba(0, 0, 0, 0.7);
}
.control-input:focus {
    outline: none;
}
.control button {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px; 
    text-transform: uppercase;
    border: none;
    color: white;
    width: 200px;
    height: 51px;
}
.name-container {

}
.phone-container {

}
.control-content-form_name {
    
}
.control-content-form_phone {
}


.control-content-form_checkbox {
    margin: 0 auto;
    margin-bottom: 148px;
    width: 285px;
    display: flex;
    justify-content: space-between;
}
.control-content-form_checkbox-item {
    display: none;
}
.control-content-form_checkbox-item:checked + .fake::before {
    opacity: 1;
}
.control-content-form_checkbox-text {
    font-weight: 400;
    line-height: 163.68%;
    font-size: 14px;
    color: black;
}
.control-content-form_checkbox_label {
    cursor: pointer;
}
.fake {
    position: relative;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before {
    content: "\2714";
    opacity: 0;
    position: absolute;
    top: -3px;
    left: 2.5px;
    transition: .2s;
}
@media screen and (max-width : 1300px) {
    .control {
        background-color: black;
        margin-top: -0px;
    }
    .control-content-video_item {
        margin-bottom: 28px;
        background-size: cover;
        width: 340px;
        height: 207px; 
    }
    .control-content {
        position: relative;
    }
    .control-content-video_logo {
        margin-bottom: 40.21px;
    }
    .control-content-video_line {
        margin-bottom: 21px;
    }
    .control-content-video_item-button {
        width: 37px;
        height: 37px;
    }
    .control-content-video_item-button::before {
        width: 12px;
        height: 12px;
    }
    .control-content-video_title {
        font-size: 22px;
    }
    .control-content-video_discription {
        margin-bottom: 61px;
        font-size: 11px;
        line-height: 169.8%;
        color: white;
        width: unset;
    }
    .control-input {
        color: white;
    }
    .control-content-form_input {
        margin-bottom: 132px;
        width: 340px;
        flex-direction: column;
    }
    .control-content-form_input div {
        margin-bottom: 63px;
    }
    .control-content-form {
        width: 340px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .control-content-form p {
        color: rgba(255, 255, 255, 0.5);
    }
    .control-content-form_checkbox-text {
       color: white;
    }
    .control-input {
        border-color: white;
        background-color: black;
        width: 340px;
    }
    .control-content-form_checkbox {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .control button {
        position: absolute;
        bottom: -26px;
        left: 0;
        width: 340px;
        height: 51px;
    }
}
.types {
}
.types-content {
}
.types-content-title {
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.types-content-logo {
    margin: 0 auto;
    margin-bottom: 31px;
    position: relative;
    background: url(./assets/svg/Repair.svg) no-repeat;
    width: 33px;
    height: 28px;
}
.types-content-logo::before {
    content: '';
    background-color: #E3B873;
    width: 32px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: -150%;
}
.types-content-logo::after {
    content: '';
    background-color: #E3B873;
    width: 32px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 150%;
}
.types-content-cards {
    margin-bottom: 124px;
    display: flex;
    justify-content: space-between;
}
.types-content-cards_item {
    background-position: top;
    height: 608px;
    width: 392px;
}
.types-content-cards_item:nth-child(1) {
    background: url(./assets/type_card_img_1.jpg) no-repeat;
}
.types-content-cards_item:nth-child(2) {
    background: url(./assets/type_card_img_2.jpg) no-repeat;
}
.types-content-cards_item:nth-child(3) {
    background: url(./assets/type_card_img_3.jpg) no-repeat;
}

.types-content-cards_item-content {
    /* background-color: white; */
    padding: 294px 31px 0 31px;
}
.types-content-cards_item-content__wrap {
    background-color: white;
    padding: 25px 0px  0px 34px;
}
.types-content-cards_item-content-list {
    list-style-type: square;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-bottom: 49px;
}
.types-content-cards_item-content-list h3{
    font-family: 'Yeseva One';
    color: black;
    font-size: 18px;
    line-height: 25px;
}
.types-content-cards_item-content-list li{
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.types-content-cards_item-button {
    margin-top: -28px;
    margin-left: -34px;
}
.types-content-cards_item-button_item {
    font-family: 'Yeseva One';
    text-transform: uppercase;
    width: 228px;
    height: 54px;
    background: #E3B873;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
@media screen and (max-width : 1300px) {
    .types-content {
        padding-top: 83px;
    }
    .types-content-cards {
        justify-content: unset;
        display: flex;
        flex-direction: column;
    }
    .types-content-cards_item {
        background-position: top;
        width: unset;
        margin-bottom: 0px;
    }
    .types-content-cards_item-content {
        padding: 223px 31px 0 0px;
    }
}
.types-content-measure {
    margin-bottom: ;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: -90px;
}
.types-content-measure_schedule {
    margin-bottom: 200px;
    width: 700px;
    height: 645px;
    background: url(./assets/image\ 6.1.jpg);
    background-repeat: no-repeat;
}
.types-content-measure_schedule-content {
    padding: 90px 0 0 245px;
} 
.types-content-measure_schedule-content-item {
    display: flex;
    align-items: center;
}
.types-content-measure_schedule-content-item:not(:last-child) {
    margin-bottom: 90px;
}
.types-content-measure_schedule-content-item_number {
    margin-right: 17px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.types-content-measure_schedule-content-item_number__inside {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 50%;
    background: #E3B873;
    color: #fff;
    width: 42px;
    height: 42px;
}
.types-content-measure_schedule-content-item_number__inside span {
    font-family: 'Yeseva One';
    margin: 0 auto;
}
.types-content-measure_schedule-content-item_text {
    color: #363636;
    font-size: 14px;
    line-height: 19px;
}
.types-content-measure_form {
    margin-top: 70px;
    background-color: black;
    height: 535px;
    width: 509px;
}
.types-content-measure_form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 28px 49px;
}
.types-content-measure_form-wrapper p {
    color: rgba(255, 255, 255, 0.5);
}
.types-content-measure_form-wrapper input {
    color: white;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.15);
    background-color: black;
}
.types-content-measure_form-wrapper input:focus {
    outline: none;
}
.types-content-measure_form-wrapper input::placeholder {
    color: white;
}
.types-content-measure_form-wrapper h3 {
    margin-bottom: 39px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 26px;  
}
.types-content-measure_form-wrapper-name {
    margin-bottom: 48px;
}
.types-content-measure_form-wrapper-phone {
    margin-bottom: 48px;
}
.types-content-measure_form-wrapper-mail {
    margin-bottom: 16px;
}
.types-content-measure_form-wrapper-checkbox {
    margin-bottom: 39px;
}
.types-content-measure_form-wrapper-checkbox_label {
    display: flex;
    align-items: center;
}
.types-content-measure_form-wrapper-checkbox_item {
    
    display: none;
}
.types-content-measure_form-wrapper-checkbox_text {
    margin-left: 9px;
}
.types-content-measure_form-wrapper-checkbox_item:checked + .fake::before {
    opacity: 1;
}
.types-content-measure_form-wrapper-button {
    align-self: flex-end;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    width: 213px;
    height: 51px;
}
.types-content-measure_save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 650px;
    right: 160px;
}
.types-content-measure_save-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    background-color: #E3B873;
    width: 72px;
    height: 72px;
}
.types-content-measure_save-icon_item {
    position: relative;
    align-self: center;
    background: url(./assets/svg/Pig.svg);
    width: 40px;
    height: 33px;
}
.types-content-measure_save-icon_item::before {
    content: '';
    background: url(./assets/svg/Dollar.svg);
    position: absolute;
    top: 13px;
    left: 12px;
    width: 10px;
    height: 12px;
}
.types-content-measure_save-icon_item::after {
    content: '';
    background: url(./assets/svg/Pig\ Eye.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 25px;
    width: 7px;
    height: 5px;
}
.types-content-measure_save p {
    color: #E3B873;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
@media screen and (max-width : 1300px) {
    .types-content-measure {
        display: none;
    }
}

.fantas {
    margin-bottom: 75px;
    background: url(./assets/Group\ 22.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fantas-content {
    display: flex;
    justify-content: space-between;
}
.fantas-content-list {
    padding: 137px 0 100px 0;
}
.fantas-content-list_title {
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;  
    margin-bottom: 47px;
}
.fantas-content-list_item {
    margin-left: -40px;
}
.fantas-content-list_item  a{
    color: white;
    font-size: 20px;
    line-height: 38px;
}
.fantas-content-list_item  li{
    list-style-type: none;
}
.fantas-content-list_item  li:not(:last-child){
    margin-bottom: 23px;
}
.fantas-content-list_item a:hover{
    text-decoration: underline;
    color: #E3B873;
}
.fantas-content-imgs {
    width: 853px;
    display: flex;
    justify-content: space-between;

}
.fantas-content-imgs div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.fantas-content-imgs div:first-child {
    margin-top: -40px;
}
.fantas-content-imgs div:last-child {
    margin-top: -112px;
}
.fantas-content-imgs div img:not(:last-child) {
    margin-bottom: 40px;
}

.clients {
    color: black;
    background: url(./assets/Frame.jpg);
    padding-bottom: 354px;
}
.clients-content {
}
.clients-content-title {
    margin-bottom: 13px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}
.clients-content-logo {
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
    width: 33px;
    height: 28px;
    background: url(./assets/svg/HandsLogo.svg) no-repeat;
}
.clients-content-logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -150%;
    width: 32px;
    height: 1.5px;
    background: #E3B873;
}
.clients-content-logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 150%;
    width: 32px;
    height: 1.5px;
    background: #E3B873;
}
.clients-content-logosub {
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.clients-content-cards {
    display: flex;
    justify-content: space-between;
}
.clients-content-cards_item {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    width: 376px;
    height: 428px;
}
.clients-content-cards_item-wrapper {
    padding: 24px 20px 0 20px;
}
.clients-content-cards_item-photo {
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients-content-cards_item-photo_item {
    margin-right: 23px;
}
.clients-content-cards_item-photo_name {

}
.clients-content-cards_item-disc {
}
.clients-content-cards_item-disc_text {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}
.clients-content-cards_item-buttons {
    font-family: 'Yeseva One';
    color: white;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    margin-left: -20px;
    position: relative;
    display: flex;
}
.clients-content-cards_item-buttons_item {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 60px;
    text-align: center;
    background: #E3B873;
    height: 54px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.clients-content-cards_item-buttons_item:first-child {
    margin-right: 2px;
    width: 134px;
}
.clients-content-cards_item-buttons_item:last-child {
    width: 159px;
}
.table-logo {
    background: url(./assets/svg/Table.svg) no-repeat;
}
.graphic-logo {
    background: url(./assets/svg/Grafic.svg);
}
.clients-content-cards_item-buttons_item-logo {
    margin-right: 15px;
    width: 32.5px;
    height: 32px;
}